.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Batch Scripts
*.bat
coverage.xml

# Ignore everything in App_Data
backend/App_Data/**/*

# But don't ignore the directory placeholders
!backend/App_Data/**/.gitkeep