version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'
    networks:
      - app-net
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: monitoring-grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    networks:
      - app-net
    ports:
      - "3000:3000"

networks:
  app-net:
    driver: bridge